body{
  height:100vh;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.login-container{
  height:480px;
  width:650px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  background-color: aqua;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-color: white;
}

input{
  height:50px;
  width:300px;
}
.inner-container{
  display: flex;
  flex-direction: column;
  gap:30px;
}
.login{
  border: none;
  height:50px;
  width:150px;
  color:white;
  background-color: black;
  font-family: "Italiana", sans-serif;
}
.loginhead{
  font-size: 30px;
}
.header{
  height:100px;
  background-color: black;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap:700px

}
.navtitle{
  font-size: 50px;
  color:White;
}
.login-cont{
  display: flex;
  flex-direction: row;
  gap:20px;
}
.header-login{
  color:black;
  background-color: white;
  border:none;
  height: 70px;
  width:130px;
  border-radius: 25px;
  font-size: 30px;
  font-family: "Italiana", sans-serif;
}
.bgimage{
  height:650px;
  width:100%;
  background-image: url("https://files.oaiusercontent.com/file-A5uoiHREv1mihjmRfY3wDw?se=2024-11-28T07%3A43%3A20Z&sp=r&sv=2024-08-04&sr=b&rscc=max-age%3D604800%2C%20immutable%2C%20private&rscd=attachment%3B%20filename%3D7566b854-662b-4cf2-8657-b5b901059aec.webp&sig=zi40BxqWLmMNFuO9lCFvNoWEE1gHYWJp4/AQQJhoYA4%3D");
  background-repeat: no-repeat;
  
  display: grid;
  place-items: center;
}
.homedesc{
  color:white;
  font-weight: 600;
  font-size: 100px;
  position: relative;
  bottom:200px;
  right:470px;
}
.product-image{
  height:250px;
  background-image: url("https://timelinecovers.pro/facebook-cover/download/welcome-please-come-in-board-sign-facebook-cover.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
}
.pcard{
  width:70%;
  height: 250px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  gap:50px;
}
.pimg{
  height:250px;
  width:20%;
}
.innerpcard{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:30px;
}
.pcardcontainer{
  display: flex;
  flex-direction: column;
  gap: 50px ;
  margin-left: 100px;
  margin-top: 50px;
}
.producttitle{
  font-weight: 500;
  font-size: 50px;
  margin-left: 100px;
}
.ptext{
  color:white;
  font-weight: 700;
  font-size: 80px;
  left: 1130px;
  position: relative;
  top:100px;
  max-width: 550px;
}
.cart-image{
  height:250px;
  background-image: url("https://images.ctfassets.net/wowgx05xsdrr/7swYPqgimTCfhmPh1Z8vz6/9847e90aba08800e841e9abe9d65b109/article-header-descriptors-branding.jpg?fm=webp&w=3840&q=75");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}
.d{
  font-size: 20px;
}